@model SecondoEsameBE.Entities.Article


@{
    Layout = "_Layout";
}

<h2>Dettagli Scarpa</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />

    @if (ViewBag.Immagine != null)
    {
        <img src="@ViewBag.Immagine" />
    }
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="@Model.CoverImage" class="card-img-top" style=" 10em" alt="@Model.Name">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Prezzo: @Model.Price €</p>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success">Aggiungi al carrello</button>
                    <a asp-action="Index" class="btn btn-secondary ">Back to List</a>

                </div>

            </div>
        </div>
    </div>
</div>
