@using SecondoEsameBE.Entities
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Scarpe da Tennis";
}

<div class="text-center">
    <h1 class="display-4">Acquista le tue nuove scarpe da tennis!</h1>
</div>

@if (Model.Any())
{
    <div class="row">
        <div class="col-12">
            <div class="row">
                @foreach (var article in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card" >
                            <img src="@article.CoverImage" class="card-img-top" style=" 10em" alt="@article.Name">
                            <div class="card-body">
                                <h5 class="card-title">@article.Name</h5>
                                <p class="card-text">@article.Description</p>
                                <p class="card-text">Prezzo: @article.Price €</p>
                                <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Dettagli</a>
                                <button class="btn btn-success ms-2" >Aggiungi al carrello</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col text-center alert alert-warning">
            Non ci sono articoli!
        </div>
    </div>
}
